.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background-color: #1976d2;
  color: white;
}

.header-link {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.logout-btn {
  background-color: #d32f2f;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
